body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    font-size: 1.5rem;
    padding-top: 150px;
}

.container{
    width: 400px;
    height: 30px;
    background-color: rgba(169, 189, 194, 0);
    box-shadow: 0px 0px 20px 2px rgb(50, 124, 177);
    border-radius: 40px;
    padding: 0.25rem;
    font: 1em sans-serif;
    font-size: 1.2rem;
    margin: auto;
}

.parent{
    /* background-color: rgb(163, 128, 128); */
    height: 300px;
    width: 500px;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border-radius: 25px;
    padding: 30px;
}

.a{
    background-color: rgb(155, 196, 225);
    width: 30px;
    height: 33px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    margin: 3px;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.a:hover{
    scale: 1.1;
    transition: 0.1s;
}

.a:active{
    scale: 1.2;
    transition: 0.1s;
}

.del{
    background-color: rgb(155, 196, 225);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)

}

.del:hover{
    scale: 1.1;
    transition: 0.1s;
}

.del:active{
    scale: 1.2;
    transition: 0.1s;
}

.cap{
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.en{
    border: none;
    width: 71px;
    height: 30px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.😁{
    border: none;
    width: 30px;
    height: 33px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.space{
    border: none;
    width:200px;
    height: 30px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203);
    margin-left: 1px;
    margin-right: 1px;
}

.m{
    border: none;
    width: 30px;
    height: 33px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.t{
    border: none;
    width: 30px;
    height: 33px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.s{
    border: none;
    width: 30px;
    height: 33px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 2px 3px 4px 0px rgb(5, 121, 203)
}

.s,.t,.m,.😁,.space,.cap,.en{
    background-color: #71cff84a;
}

.s:hover,.t:hover,.m:hover,.😁:hover,.space:hover,.cap:hover,.en:hover{
    scale: 0.9;
    transition: 0.1s;
}

.s:active,.t:active,.m:active,.😁:active,.space:active,.cap:active,.en:active{
    scale: 1;
    transition: 0.1s;
}